@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

@theme {
    --animate-underline: underline 0.3s cubic-bezier(.4,0,.2,1);
    @keyframes underline {
      0% {
        width: 0%;
      }
      100% {
        width: 100%;
      }
    }

    --animate-bounce: bounce 1.5s infinite;
    @keyframes bounce {
      0%, 100% {
        transform: translateY(-2%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
      }
      50% {
        transform: none;
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
      }
    }
 
    
    --animate-typewriter: typewriter 2s steps(19) 0.5s 1 normal both;
    @keyframes typewriter {
      from{width: 0;}
      to{width: 169px;}
    }

    --animate-blinkTextCursor: blinkTextCursor 1s 2.5s infinite;
    @keyframes blinkTextCursor{
      from{opacity: 1;}
      to{opacity: 0;}
    }
  }